<div ng-repeat="notification in notifications" class="oc-application-notification" ng-class="notification.type">
  <div class="container">
    <div class="icon">
      <i ng-if="notification.type == 'warning'" class="helion-icon helion-icon-Alert"></i>
      <i ng-if="notification.type == 'error'" class="helion-icon helion-icon-Error_outline"></i>
      <i ng-if="notification.type == 'info'" class="helion-icon helion-icon-Notification"></i>
      <i ng-if="notification.type == 'success'" class="helion-icon helion-icon-Active_L"></i>
    </div>
    <div class="text" ng-bind="notification.text | translate"></div>
    <div class="remove" ng-click="remove(notification.id)">
      <i class="helion-icon helion-icon-Close"></i>
    </div>
  </div>
</div>
