// (c) Copyright 2016 Hewlett Packard Enterprise Development LP
$images_base_path: "/images";

//$login_background_image: "#{$images_base_path}/cs-login-background.png";
$login_background_image: "#{$images_base_path}/login-background.png";
$branded_logo_image: "#{$images_base_path}/icons/logos/login-logo.png";